$background-main: #3a0e6a;
$font-main: "Lato", sans-serif;
$color-one: white;
$color-gray: rgb(204, 204, 204);
$color-position: #8c0781;
$background-image: linear-gradient(to bottom right, #beebf1, #f3accc);
